<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>About Us</h1>

<table>
  <tbody>
    <% @about_us.each do |about_u| %>
      <tr>
        <td><%= about_u.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

