<p id="notice"><%= notice %></p>

<h1>Privacy Policies</h1>

<table>
  <tbody>
    <% @priv_policies.each do |priv_policy| %>
     <td class="list_description">
      <dl>
        <dt><%= priv_policy.store_name %></dt>
        <dd><%= priv_policy.policy %></dd>
      </dl>
    </td>
    <% end %>
  </tbody>
</table>

<br>
