<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Terms Of Service</h1>

<table>
	</thead>

	<tbody>
		<% @terms_of_services.each do |terms_of_service| %>
		<tr>
			<td><%= terms_of_service.terms %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

